@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Noto+Serif:wght@400;700;900&display=swap');
@import '@mantine/core/styles.css';

html,
body {
  margin: 0;
  min-height: 100%;
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  font-family: var(--mantine-font-family);
  direction: rtl;
  text-align: start;
}

body {
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.using-mouse * {
  outline: none !important;
}
